@model pagebuilder.Model.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Login", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-login" }))
{
    <div class="form-header">
        <h3>Login</h3>
    </div>
    <div class="form-group">
        @{var validationSummary = Html.ValidationSummary(true);}
        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
        {
            <div class="alert alert-danger">
                <strong>Problem on login credential</strong>&nbsp;@validationSummary
            </div>
        }
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
}

