<ul class="panel panel-menu d-flex flex-row">
    <li class="pm pm-menu-groups @ViewBag.MenugroupPanelActive">
        <a href="~/menugroups">
            <img src="~/Content/Images/icon-menu.png" />
            Menu Groups
        </a>
    </li>
    <!--
          <li class="pm pm-pages @ViewBag.PagePanelActive">
              <a href="~/pages">
                  <img src="~/Content/Images/icon-page.png" />
                  Pages
              </a>
          </li>
          <li class="pm pm-ext-links @ViewBag.ExtlinkPanelActive">
              <a href="~/extlinks">
                  <img src="~/Content/Images/icon-link.png" />
                  External Links
              </a>
          </li>
          <li class="pm pm-author @ViewBag.AuthorPanelActive">
              <a href="~/authors">
                  <img src="~/Content/Images/icon-author.png" />
                  Authors
              </a>
          </li> -->
    <li class="pm  @ViewBag.PixelActive">
        <a href="~/facebook">
            <img src="~/Content/Images/icon_fb_pixel.png" />
            Facebook Pixel
        </a>
    </li>
    <li class="pm  @ViewBag.GAActive">
        <a href="~/google">
            <img src="~/Content/Images/icon_ga.png" />
            Google Analytics
        </a>
    </li>

</ul>