@{
    //  ViewBag.Title = "Welcome to St. Clair County, MI";
    int items = 0;
    var col = "";
    var lastcol = "";

    //if (ViewBag.HomeItems.Count == 9)
    //{
    //    col = "col-4";
    //    lastcol = "col-4";
    //}
    //else
    //{
    //    col = "col-4";
    //    lastcol = "col-8";
    //}

    if (ViewBag.HomeItems.Count % 3 == 0)
    {
        col = "col-4";
        lastcol = "col-4";
    }
    if (ViewBag.HomeItems.Count % 3 == 1)
    {
        col = "col-4";
        lastcol = "col-12";
    }
    if (ViewBag.HomeItems.Count % 3 == 2)
    {
        col = "col-4";
        lastcol = "col-8";
    }

    var tt = ViewBag.HomeItems.Count;
    var up = @Url.Content("~");
    up = up.Substring(0, up.LastIndexOf('/'));
}


@RenderPage("../Shared/SearchForPage.cshtml")


<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>

<!-- Start Key Homepage Messages -->
<section class="s-khms">
    <div class="row">
        @foreach (var homeItemsMenugroups in ViewBag.HomeItems)
        {
            items++;
            if (homeItemsMenugroups.Type == 1)
            {
                foreach (var PageItem in ViewBag.PageItems)
                {
                    if (homeItemsMenugroups.PageId == PageItem.Id)
                    {
                        <div class="c-khm c-khm-@(items) @col @tt @(items == tt ? lastcol : "")">
                            <!--<a class="bl bg-img2" href="~/@(homeItemsMenugroups.SubHome == 1 ? "SubHome/Index/" : "Offices/")@PageItem.Id" data-target=".image-bg" style="background-image: url(@up/Pages/PageImages/@PageItem.Id)"> -->
                            @if (homeItemsMenugroups.SubHome == 1)
                            {
                                <a class="bl bg-img2" href="~/SubHome/Index/@PageItem.Id" data-target=".image-bg" style="background-image: url(@up/Pages/PageImages/@PageItem.Id)">
                                    <h2>@PageItem.Title</h2>
                                </a>

                            }
                            else
                            {
                                <a class="bl bg-img2" href="~/Offices/@PageItem.Id" data-target=".image-bg" style="background-image: url(@up/Pages/PageImages/@PageItem.Id)">
                                    <h2>@PageItem.Title</h2>
                                </a>
                            }
                        </div>
                    }
                }
            }
            else if (homeItemsMenugroups.Type == 2)
            {
                foreach (var PdfItem in ViewBag.PdfItems)
                {
                    if (homeItemsMenugroups.PdfId == PdfItem.Id)
                    {
                        int PdfExternal = 0;
                        if (PdfItem.IsExternal != null && PdfItem.IsExternal == 1)
                        {
                            PdfExternal = PdfItem.IsExternal;
                        }

                        <div class="c-khm c-khm-@(items)  @col @(items == tt ? lastcol : "")">
                            <a class="bl bg-img2" href="@PdfItem.ExLink" data-external="@PdfExternal" @(PdfExternal == 0 ? "target='_blank'" : null) data-target=".image-bg" style="background-image: url(@up/Pdfs/PdfImages/@PdfItem.Id)">
                                <h2>@PdfItem.Title</h2>
                            </a>
                        </div>
                    }
                }
            }
            else if (homeItemsMenugroups.Type == 3)
            {
                foreach (var LinkItem in ViewBag.ExLinkItems)
                {
                    if (homeItemsMenugroups.ExtlinkId == LinkItem.Id)
                    {
                        int LinkExternal = 0;
                        if (LinkItem.IsExternal != null && LinkItem.IsExternal == 1)
                        {
                            LinkExternal = LinkItem.IsExternal;
                        }

                        <div class="c-khm c-khm-@(items)  @col @(items == tt ? lastcol : "")">
                            <a class="bl bg-img2" href="@LinkItem.UrlLink" data-external="@LinkExternal" data-target=".image-bg" style="background-image: url(@up/ExtLinks/LinkImages/@LinkItem.Id)">
                                <h2>@LinkItem.Title</h2>
                            </a>
                        </div>
                    }
                }
            }
            else if (homeItemsMenugroups.Type == 4)
            {
                foreach (var ModalItem in ViewBag.ModalItems)
                {
                    if (homeItemsMenugroups.ModalId == ModalItem.Id)
                    {
                        var firstid = ModalItem.Id.ToString();

                        <div class="c-khm c-khm-@(items)  @col @(items == tt ? lastcol : "")">
                            <a id="modal-@ModalItem.Id" class="bl bg-img2 bg-modal" data-imgtarget=".image-bg" data-toggle="modal" data-target="#modalBlock-@ModalItem.Id" aria-expanded="true" aria-controls="modal-@ModalItem.Id" style="background-image: url(@up/Modals/ModalImages/@ModalItem.Id)">
                                <h2>@ModalItem.Title</h2>
                            </a>
                            <div class="modal fade modaBlocks @(ModalItem.Maintext != null ? (ViewData[firstid].Count != 1 ? "modal-body-blocks" : "") : "")" id="modalBlock-@ModalItem.Id" tabindex="-1" role="dialog" aria-labelledby="modal-@ModalItem.Id" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-center">@ModalItem.Title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            @if (ModalItem.Maintext == null)
                                            {
                                                <ul>
                                                    @foreach (var subMenugroup in ViewBag.SubMenus)
                                                    {
                                                        if (ModalItem.Id == subMenugroup.ModalId)
                                                        {
                                                            foreach (var MenuListItems in ViewBag.SubMenus)
                                                            {
                                                                if (MenuListItems.ParentId == subMenugroup.Id)
                                                                {
                                                                    if (MenuListItems.Type == 1)
                                                                    {
                                                                        foreach (var SubPageItem in ViewBag.PageItems)
                                                                        {
                                                                            if (MenuListItems.PageId == SubPageItem.Id)
                                                                            {
                                                                                if (SubPageItem.Publish == 1)
                                                                                {
                                                                                    <li>
                                                                                        @if (MenuListItems.SubHome == 1)
                                                                                        {
                                                                                            <a href="~/SubHome/Index/@SubPageItem.Id">
                                                                                                @SubPageItem.Title
                                                                                            </a>

                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <a href="~/Offices/@SubPageItem.Id">
                                                                                                @SubPageItem.Title
                                                                                            </a>

                                                                                        }

                                                                                    </li>
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                    else if (MenuListItems.Type == 2)
                                                                    {
                                                                        foreach (var SubPdfItem in ViewBag.PdfItems)
                                                                        {
                                                                            if (MenuListItems.PdfId == SubPdfItem.Id && SubPdfItem.Publish == 1)
                                                                            {
                                                                                int PdfExternal = 0;

                                                                                if (SubPdfItem.IsExternal != null && SubPdfItem.IsExternal == 1)
                                                                                {
                                                                                    PdfExternal = SubPdfItem.IsExternal;
                                                                                }

                                                                                <li>
                                                                                    <a href="~/Offices/@SubPdfItem.Id" data-external="@PdfExternal" @(PdfExternal == 0 ? "target='_blank'" : null)>
                                                                                        <span>@SubPdfItem.Title</span>
                                                                                    </a>
                                                                                </li>
                                                                            }
                                                                        }
                                                                    }
                                                                    else if (MenuListItems.Type == 3)
                                                                    {
                                                                        foreach (var SubLinkItem in ViewBag.ExLinkItems)
                                                                        {
                                                                            if (MenuListItems.ExtlinkId == SubLinkItem.Id)
                                                                            {
                                                                                int LinkExternal = 0;

                                                                                if (SubLinkItem.IsExternal != null && SubLinkItem.IsExternal == 1)
                                                                                {
                                                                                    LinkExternal = SubLinkItem.IsExternal;
                                                                                }

                                                                                <li>
                                                                                    <a href="@SubLinkItem.UrlLink" data-external="@LinkExternal">
                                                                                        <span>@SubLinkItem.Title</span>
                                                                                    </a>
                                                                                </li>
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            }
                                            else
                                            {
                                                var vi = 0;
                                                var ModalId = ModalItem.Title.Replace(" ", "-");
                                                if (ViewData[firstid].Count == 1)
                                                {
                                                    foreach (var singleItem in ViewData[firstid])
                                                    {
                                                        @Html.Raw(System.Web.HttpUtility.HtmlDecode(singleItem))
                                                    }
                                                }
                                                else
                                                {
                                                    <div id="ModalBodyParent@(ModalItem.Id)" class="accordion">
                                                        <div class="card">
                                                            @foreach (var item in ViewData[firstid])
                                                            {
                                                                vi++;
                                                                if (vi % 2 != 0)
                                                                {
                                                                    var dbv = vi + 1;
                                                                    if (vi == 1)
                                                                    {
                                                                        <div id="Body@(vi)@(ModalItem.Id)" class="card-header">
                                                                            <h4 class="btn-cardbody text-center" data-toggle="collapse" data-target="#Bodycollapse@(dbv)@(ModalItem.Id)" data-body="Body@(dbv)@(ModalItem.Id)" aria-expanded="true" aria-controls="collapse@(dbv)">
                                                                                @Html.Raw(System.Web.HttpUtility.HtmlDecode(item))
                                                                            </h4>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div id="Body@(vi)@(ModalItem.Id)" class="card-header">
                                                                            <h4 class="btn-cardbody text-center" data-toggle="collapse" data-target="#Bodycollapse@(dbv)@(ModalItem.Id)" data-body="Body@(dbv)@(ModalItem.Id)" aria-expanded="false" aria-controls="collapse@(dbv)">
                                                                                @Html.Raw(System.Web.HttpUtility.HtmlDecode(item))
                                                                            </h4>
                                                                        </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    var dhv = vi - 1;
                                                                    if (vi == 2)
                                                                    {
                                                                        <div id="Bodycollapse@(vi)@(ModalItem.Id)" class="collapse show collapse-body" data-header="#Bodych@(dhv)@(ModalItem.Id)" data-parent="#ModalBodyParent@(ModalItem.Id)">
                                                                            <div class="card-body"></div>
                                                                            <div class="temptext">@(item)</div>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div id="Bodycollapse@(vi)@(ModalItem.Id)" class="collapse collapse-body" data-header="#Bodych@(dhv)@(ModalItem.Id)" data-parent="#ModalBodyParent@(ModalItem.Id)">
                                                                            <div class="card-body"></div>
                                                                            <div class="temptext">@(item)</div>
                                                                        </div>
                                                                    }
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }

    </div>
</section>
<!-- End Key Homepage Messages -->
<!-- start feeds section -->
<!--- Homepop up  --->

@{
    if (ViewBag.FeedPop != null)
    {
        foreach (var feeds in ViewBag.FeedPop)
        {
            if ((feeds.EnableFeed == "Twitter") && (feeds.Enb == 1))
            {
                <div class="modal fade" role="dialog" tabindex="-1" id="FB-timeline">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="height:610px;">
                            <div class="modal-header" style="background-color:#0b5ca8;">
                                <h4 class="modal-title" style="color:white;">@ViewBag.Mt</h4>

                                @{
                                    if (ViewBag.Class == "page-item")
                                    {
                                        <meta name="description" content="@ViewBag.Metades" />
                                        <meta name="keywords" content="@ViewBag.Metakey" />
                                    }
                                }
                                @{
                                    if (ViewBag.Class == "home")
                                    {
                                        <meta name="description" content="@ViewBag.Metades" />
                                        <meta name="keywords" content="@ViewBag.Metakey" />
                                    }
                                }

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color:white;">×</span>
                                </button>
                            </div>
                            <div class="modal-body text-center m-auto" style="height: 450px !important; margin: 0px !important; overflow:hidden;">
                                <a class="twitter-timeline" data-height="515" href="@feeds.TwitterUrl">Tweets by TwitterDev</a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }


    if (ViewBag.FeedPop2 != null)
    {
        foreach (var feeds2 in ViewBag.FeedPop2)
        {
            if ((feeds2.EnableFeed == "Home") && (feeds2.Enb == 1))
            {
                <div class="modal fade" role="dialog" tabindex="-1" id="FB-timeline2">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:#0b5ca8;">
                                <h4 class="modal-title" style="color:white;">@ViewBag.Mt</h4>

                                @{
                                    if (ViewBag.Class == "page-item")
                                    {
                                        <meta name="description" content="@ViewBag.Metades" />
                                        <meta name="keywords" content="@ViewBag.Metakey" />
                                    }
                                }
                                @{
                                    if (ViewBag.Class == "home")
                                    {
                                        <meta name="description" content="@ViewBag.Metades" />
                                        <meta name="keywords" content="@ViewBag.Metakey" />
                                    }
                                }

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color:white;">×</span>
                                </button>
                            </div>
                            @{
                                var imgSrc = "";
                                if (feeds2.Img != null || feeds2.img != "")
                                {
                                    var base64 = Convert.ToBase64String(feeds2.Img);
                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                }
                                else
                                {
                                    imgSrc = "";
                                }

                            }

                            <div class="modal-body text-center m-auto" style="height: 400px !important; margin: 0px !important; overflow-y:auto; ">
                                <img src="@imgSrc" style="align-content:baseline; max-width: 100%;max-height: 100%"> <br /><br />
                                @Html.Raw(WebUtility.HtmlDecode("<b>" + feeds2.Title + "</b>")) <br />
                                @Html.Raw(WebUtility.HtmlDecode(feeds2.Contents))<br /> <br />

                                <a href="@feeds2.HomeUrl" id="demo" class="collapse" target="_blank">Click Here</a><br /><br />

                                @if (feeds2.HomeUrl != null)
                                {
                                    <button type="button" data-toggle="collapse" data-target="#demo">More</button>
                                    <button type="button" data-dismiss="modal">Close</button>
                                }
                                else
                                {
                                    <button type="button" data-toggle="collapse" data-target="#demo" hidden>More</button>
                                    <button type="button" data-dismiss="modal">Close</button>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}


<script>
    $(window).on('load', function () {
        var $img = $("#CompanyLogo").children("img").clone();
        $("#slogo").append($img);

        setTimeout(function () {
            if (Object.hasOwnProperty.call(window, "ActiveXObject") && !window.ActiveXObject) {
                // is IE11
                $('#FB-timeline2').modal('show');
            }
            else {
                $('#FB-timeline').modal('show');
                $('#FB-timeline2').modal('show');
            }
        }, 200);
    });

</script>


<!-- end feeds section-->