@model pagebuilder.ViewModel.PageViewModel
@{ ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@RenderPage("../Shared/PanelMenu.cshtml")
<div class="panel panel-body">
    @using (Html.BeginForm("Create", "Pages", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-page form-page-create" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="row form-header">
                <div class="col-sm-6">
                    <h4>Create Page</h4>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="@Url.Action("Index")" class="f-back btn btn-default btn-sm">
                        Back to List
                    </a>
                </div>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row form-group">
                @Html.Label("Image Header", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="file" id="upload" name="upload" onchange="fileCheck(this)" />
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control datepicker" }, type = "date" })
                            @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row form-group">
                @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control", @maxlength = 150 } })
                    <p class="small">(max 150 characters)</p>
                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                @Html.Label("Enable Summary?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <span class="pub -yes">
                        <span class="pl">Yes</span>
                        @Html.RadioButtonFor(model => model.ShowSum, "1")
                    </span>
                    <span class="pub -no">
                        <span class="pl">No</span>
                        @Html.RadioButtonFor(model => model.ShowSum, "0")
                    </span>
                    @Html.ValidationMessageFor(model => model.Publish, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="form-singlecontent" class="form-group form-maintext" style="display:none;" data-content="1">
                <div class="row">
                    <div class="col-md-2">
                        <label for="Maintext">Maintext</label>
                        <button class="btn btn-primary btn-sm collapse-hidden" type="button" data-target="#form-multiplecontent" data-parentid="#form-singlecontent" aria-expanded="false" aria-controls="form-multipletext">Accordion</button>
                        <!--<span class="btn btn-primary btn-sm btn-add-mtext">Multiple Content</span>-->
                    </div>

                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Maintext, new { rows = "4", @class = "form-control texteditor" })
                        @Html.ValidationMessageFor(model => model.Maintext, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div id="form-multiplecontent" class="form-group form-multipletext" data-content="0">
                <div class="row">
                    <div class="control-label col-md-2">
                        <label for="multipletext">Multiple Content</label>
                        <!--<button class="btn btn-primary btn-sm collapse-hidden" type="button" data-target="#form-singlecontent" data-parentid="#form-multiplecontent" aria-expanded="false" aria-controls="form-multipletext">Maintext</button>-->
                    </div>
                    <div class="col-md-10">
                        <div class="accordion pmg-accordion">
                            <ul style="list-style: none;" id="sortable" class="container-duplicate collapse-body sort-2 collapse show list-group ui-sortable menusort pchild pmg pmg-child pmg-subchild">
                                <li>
                                    <div class='card-header'>
                                        <strong>&nbsp;&nbsp;</strong>
                                        <div style='float: right;'>
                                            <a class='float-right ai ai-expand btn btn-sm  btn-primary' data-toggle='collapse' data-target='#xdv-child-1' aria-expanded='true' aria-controls='InterThoughts-9933'>
                                                <i class='fa fa-list-ul' aria-hidden='true'></i>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- div class="container-duplicate" -->
                                    <div id="xdv-child-1" class="fmi fmi-sep fmi-sep-content collapse-body collapse">
                                        <div id="fmi-1" class="fm-item" data-fmitem="1">
                                            <input type="text" class="form-control fmi fmi-title" name="subcontent" placeholder="Add Subtitle" data-subid="1" required />
                                            <textarea id="textEditor1" class="form-control texteditor  fmi fmi-content" name="subcontent" data-conid="1" rows="4" placeholder="Add Subcontent"></textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-success btn-sm btn-duplicate" data-container=".container-duplicate"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.Publish, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <span class="pub -yes">
                        <span class="pl">Yes</span>
                        @Html.RadioButtonFor(model => model.Publish, "1")
                    </span>
                    <span class="pub -no">
                        <span class="pl">No</span>
                        @Html.RadioButtonFor(model => model.Publish, "0")
                    </span>
                    @Html.ValidationMessageFor(model => model.Publish, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="adv-set" class="collapse multi-collapse">
                <div class="row form-group">
                    @Html.LabelFor(model => model.MetaKeywords, "Meta Keywords", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MetaKeywords, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaKeywords, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.MetaDescription, "Meta Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MetaDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MetaDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="control-label col-md-2">
                        @Html.Label("Side Navigation", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("MenuParents", null, "Select Menu", new { @class = "form-control" })
                    </div>
                </div>
                <div class="row form-group" style="display:none;">
                    @Html.LabelFor(model => model.AuthorId, "Author", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AuthorId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AuthorId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group" style="display:none;">
                    @Html.LabelFor(model => model.PageUrl, "Parent URL", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PageUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PageUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2"></div>
                <div class="col-md-offset-2 col-md-10 f-control">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#adv-set" aria-expanded="false" aria-controls="adv-set">Advance</button>
                </div>
            </div>
        </div>}
</div>
