@model pagebuilder.ViewModel.PdfViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@RenderPage("../Shared/PanelMenu.cshtml")
<div class="panel panel-body">
    @using (Html.BeginForm("Create", "Pdfs", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row form-header">
            <div class="col-sm-6">
                <h4>Create Page</h4>
            </div>
            <div class="col-sm-6 text-right">
                <a href="@Url.Action("Index")" class="f-back btn btn-default btn-sm">
                    Back to List
                </a>
            </div>
        </div>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        @*@<div class="row form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control datepicker" }, type = "date" })
                @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="row form-group" style="display:none">
            @Html.Label("Image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="uploadImg" name="file" accept="image/png,image/jpg,image/jpeg" onchange="fileCheck(this)" />
            </div>
        </div>
        <div class="row form-group">
            @Html.Label("Pdf File", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="uploadPdf" name="file" accept=".pdf" onchange="fileCheck(this)" />
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(model => model.Publish, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="pub -yes">
                    <span class="pl">Yes</span>
                    @Html.RadioButtonFor(model => model.Publish, "1")
                </span>
                <span class="pub -no">
                    <span class="pl">No</span>
                    @Html.RadioButtonFor(model => model.Publish, "0")
                </span>
                @Html.ValidationMessageFor(model => model.Publish, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="adv-set" class="collapse multi-collapse">
            <div class="row form-group">
                @Html.LabelFor(model => model.Author, "Author", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2"></div>
            <div class="col-md-offset-2 col-md-10 f-control">
                <input type="submit" value="Create" class="btn btn-success" />
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#adv-set" aria-expanded="false" aria-controls="adv-set">Advance</button>
            </div>
        </div>
    </div>
    }
</div>
